# yaml-language-server: $schema=https://version-2024-10.goauthentik.io/blueprints/schema.json
version: 1
metadata:
  name: authentik-users-groups
  labels:
    blueprints.goauthentik.io/system-bootstrap: "true"
    blueprints.goauthentik.io/description: "Setup Default Authentik Users & Groups"
entries:
  # Groups
  - model: authentik_core.group
    id: server-admins-group
    identifiers:
      name: "Server Admins"
    state: present
    attrs:
      is_superuser: true

  - model: authentik_core.group
    id: media-group
    identifiers:
      name: "Media"
    state: present
    attrs:
      is_superuser: false

  - model: authentik_core.group
    id: media-admins-group
    identifiers:
      name: "Media Admins"
    state: present
    attrs:
      is_superuser: false

  # Users
  # Disable akadmin, as other user is already an admin
  - model: authentik_core.user
    state: present
    identifiers:
      username: akadmin
    attrs:
      is_active: false

  # Keeping this as created to avoid accidental re-creation of the user as this requires re-connecting OAuth accounts in existing integrations
  - model: authentik_core.user
    identifiers:
      username: !Env AUTHENTIK_USER_NAME
    state: created
    attrs:
      name: !Env AUTHENTIK_USER_NAME
      email: !Env AUTHENTIK_USER_EMAIL
      groups:
        - !KeyOf server-admins-group
        - !KeyOf media-admins-group
        - !KeyOf media-group
      password: !Env AUTHENTIK_USER_PASSWORD
