# yaml-language-server: $schema=https://version-2025-4.goauthentik.io/blueprints/schema.json
version: 1
metadata:
  name: setup-passwordless-flow
  labels:
    blueprints.goauthentik.io/description: "Setup Passwordless (WebAuthn) flow"
entries:
  # Setup WebAuthn validation stage
  - model: authentik_stages_authenticator_validate.authenticatorvalidatestage
    id: validation-stage-webauthn
    state: present
    identifiers:
      name: "Custom Passwordless WebAuthn"
    attrs:
      device_classes:
        - webauthn
      last_auth_threshold: seconds=0
      not_configured_action: configure
      webauthn_user_verification: required
      configuration_stages:
        - !Find [authentik_stages_authenticator_webauthn.authenticatorwebauthnstage, [name, default-authenticator-webauthn-setup]]

  # Create new Passwordless Authentication Flow
  - model: authentik_flows.flow
    id: flow-passwordless
    state: present
    identifiers:
      slug: custom-passwordless-authentication-flow
    attrs:
      designation: authentication
      layout: content_left
      name: "Custom Passwordless Authentication Flow"
      title: "Welcome to authentik!"

  # Bind Validation stage to the new flow
  - model: authentik_flows.flowstagebinding
    identifiers:
      order: 10
      stage: !KeyOf validation-stage-webauthn
      target: !KeyOf flow-passwordless
    state: present

  # Bind Login stage to the new flow
  - model: authentik_flows.flowstagebinding
    state: present
    identifiers:
      order: 100
      stage: !Find [authentik_stages_user_login.userloginstage, [name, default-authentication-login]]
      target: !KeyOf flow-passwordless

  # Disable WebAuthn on the default MFA validation stage (it's enabled by default), as I don't want to use Passkeys as 2FA
  - model: authentik_stages_authenticator_validate.authenticatorvalidatestage
    identifiers:
      name: default-authentication-mfa-validation
    attrs:
      device_classes:
        - static
        - totp
        - duo

  # Add the new flow to the existing Identification stage
  - model: authentik_stages_identification.identificationstage
    state: present
    identifiers:
      name: default-authentication-identification
    attrs:
      passwordless_flow: !KeyOf flow-passwordless
      # For some reason the blueprint fails without `user_fields`, even though I am not modifying them
      user_fields:
        - username
        - email
