{% from "macros/proxy_entry.j2" import proxy_entry with context %}
{% import "macros/utils.j2" as utils with context %}

{{ proxy_entry(name="HomeAssistant", slug="homeassistant", group=groups.homeAutomation, icon=utils.generate_icon("home-assistant")) }}