{% from "macros/proxy_entry.j2" import proxy_entry with context %}
{% import "macros/utils.j2" as utils with context %}

{{ proxy_entry(name="MultiScrobbler", slug="multiscrobbler", application_group=applicationGroups.media, icon=utils.generate_icon("multi-scrobbler") ) }}
