{% from "macros/proxy_entry.j2" import proxy_entry with context %}
{% import "macros/utils.j2" as utils with context %}

{{ proxy_entry(name="NodeRed", slug="nodered", application_group=applicationGroups.homeAutomation, icon=utils.generate_icon("node-red") ) }}
