{% from "macros/proxy_entry.j2" import proxy_entry with context %}


{{ proxy_entry(name="SABnzbd", slug="sabnzbd", application_group=applicationGroups.media, access_group=accessGroups.mediaAdmins) }}
