{% from "macros/proxy_entry.j2" import proxy_entry with context %}

{{ proxy_entry(name="Zigbee2MQTT", slug="zigbee2mqtt", application_group=applicationGroups.homeAutomation, access_group=accessGroups.serverAdmins) }}
