# yaml-language-server: $schema=https://version-2024-10.goauthentik.io/blueprints/schema.json
version: 1
metadata:
  name: audiobookshelf-property-mapping
  labels:
    blueprints.goauthentik.io/description: "Setup Provider property mapping for Audiobookshelf"
entries:
  - model: authentik_providers_oauth2.scopemapping
    identifiers:
      name: absgroups
    state: present
    attrs:
      name: "Audiobookshelf Groups"
      scope_name: absgroups
      expression: |
        group = "guest"
        if ak_is_group_member(request.user, name="{{ accessGroups.mediaAdmins }}"):
          group = "admin"
        elif ak_is_group_member(request.user, name="{{ accessGroups.media }}"):
          group = "user"

        return {
            "absgroups": [ group ]
        }
