# yaml-language-server: $schema=https://version-2024-10.goauthentik.io/blueprints/schema.json
version: 1
metadata:
  name: immich-property-mapping
  labels:
    blueprints.goauthentik.io/description: "Setup Provider property mapping for Immich"
entries:
  - model: authentik_providers_oauth2.scopemapping
    identifiers:
      name: "Immich Role"
      scope_name: immich_role
    state: present
    attrs:
      description: "Map Authentik groups to roles that Immich expects"
      expression: |
        role = "user"
        if ak_is_group_member(request.user, name="{{ accessGroups.mediaAdmins }}"):
          role = "admin"

        return {
            "immich_role": [ role ]
        }
