{% from "macros/oidc_entry.j2" import oidc_entry with context %}
{% import "global_utils.j2" as global_utils with context %}

{% set redirect_uris = [ global_utils.generate_url("immich") + "/auth/login",
                         global_utils.generate_url("immich") + "/user-settings",
                         "app.immich:///oauth-callback" ] %}
{{ oidc_entry(name="Immich", slug="immich", application_group=applicationGroups.media, redirect_uris=redirect_uris) }}
