{% from "macros/oidc_entry.j2" import oidc_entry with context %}
{% import "global_utils.j2" as global_utils with context %}

{{ oidc_entry(name="Portainer", slug="portainer", group=groups.serverManagement, redirect_uris=global_utils.generate_url("portainer"), is_admin_only=true) }}