# General
.pre-commit-config.yaml
/pkgs/minecraft-server-check/config.toml
*.env

# Nix
result

# Python
**/*.pyc
**/__pycache__
**/.ruff_cache

# Terraform
**/.terraform
*.tfstate
*.tfstate.*
**/config.tf.json