{% macro generate_group_policy(group) -%}
- model: authentik_policies.policybinding
  identifiers:
    target: !KeyOf application
  attrs:
    group: !Find [authentik_core.group, [name, {{ group }}]]
    enabled: true
    order: 0
{% endmacro %}
