{% macro generate_admin_policy() -%}
- model: authentik_policies.policybinding
  identifiers:
    target: !KeyOf application
  attrs:
    group: !Find [authentik_core.group, [name, Server Admins]]
    enabled: true
    order: 0
{% endmacro %}