{% import "global_utils.j2" as global_utils with context %}
---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

- Server:
    - Netdata:
        icon: "{{ global_utils.generate_icon("netdata") }}"
        href: "{{ global_utils.generate_url("netdata") }}"
        weight: 0
    - Traefik:
        icon: "{{ global_utils.generate_icon("traefik") }}"
        href: "{{ global_utils.generate_url("traefik") }}"
        weight: 100
