.service-name {
  font-size: 1.4rem !important;
  margin: 0.5rem !important;
  font-weight: bold !important;
}

.service-group-name {
  font-size: 1.75rem !important;
  font-weight: bold !important;
}

.service-group-icon {
  width: 2rem !important;
  height: 2rem !important;
}

.service-icon img {
  width: 48px !important;
  height: 48px !important;
}

.service-card {
  padding: 1.2rem !important;
  margin: 0.5rem 0.3rem !important;
  border-radius: 1rem !important;
  /* prettier-ignore */
  background-color: rgba(18, 21, 43, 0.6) !important;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.service-card:hover {
  transform: translateY(-3px); /* Move the card up on hover */
  /* prettier-ignore */
  background-color: rgba(18, 21, 43, 0.9) !important;
}
