#SECTION - Core
# Loads default set of integrations. Do not remove.
default_config:

# https://www.home-assistant.io/integrations/homeassistant/
homeassistant:
  name: Home
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: 10
  unit_system: metric
  external_url: "{{ url }}"
  internal_url: "{{ url }}"
  customize: !include_dir_merge_named configuration/customize/

# https://www.home-assistant.io/integrations/frontend/
frontend:
  # Load frontend themes from the themes folder
  themes: !include_dir_merge_named themes

# https://www.home-assistant.io/integrations/api/
api:

# https://www.home-assistant.io/integrations/zeroconf/
# Also https://developers.home-assistant.io/docs/api/native-app-integration/setup/#authenticating-the-user
zeroconf:

# https://github.com/BeryJu/hass-auth-header
auth_header:
  debug: true
  username_header: X-Authentik-Username

# https://www.home-assistant.io/integrations/logger/
logger:
  default: info
  logs:
    custom_components.auth_header: debug

# https://www.home-assistant.io/integrations/recorder/
recorder:
  purge_keep_days: 60
  auto_purge: true
  db_url: !secret db_url

# https://www.home-assistant.io/integrations/http/
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.31.0.0/24 #LINK - machines/geekomA5/modules/system/services/traefik/podman-traefik-network.nix

lovelace:
  mode: storage
  dashboards:
    main-grid:
      mode: yaml
      title: Main Dashboard
      icon: mdi:view-dashboard-outline
      show_in_sidebar: true
      filename: dashboards/main.yaml

    lovelace-minimalist-grid:
      mode: yaml
      title: Minimalist Grid
      icon: mdi:view-dashboard-outline
      show_in_sidebar: true
      filename: ui_lovelace_minimalist/dashboard/ui-lovelace-custom-grid.yaml

    new-grid-test:
      mode: yaml
      title: New Grid Test
      icon: mdi:view-dashboard-outline
      show_in_sidebar: true
      filename: ui_lovelace_minimalist/dashboard/new-grid-test.yaml

#!SECTION - Core

# Includes
automation manual: !include_dir_merge_list automations/
automation ui: !include automations.yaml
input_boolean: !include_dir_merge_named configuration/input_boolean/
climate: !include_dir_merge_list configuration/climate/
sensor: !include_dir_merge_list configuration/sensors/
